@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1 {
  text-decoration: underline;
  color: rgb(80, 55, 8);
}

body {
  color: rgb(54, 38, 7);
  background-color: orange;
  font-family: "Montserrat";
}

.landing {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing img {
  width: 300px;
  height: 200px;
}
